:root {
	/* Some global styling for the gauge */
	--lightDarkColor: rgb(255, 255, 255); /* White for default light mode */
	
	--size: 250px;
	--cutout: 75%;
	
	/* Gauge scale colors using consistent naming */
	--scaleColor-min-min: mediumseagreen;
	--scaleColor-0-25: lightskyblue;
	--scaleColor-25-50: steelblue;
	--scaleColor-50-75: goldenrod;
	--scaleColor-75-100: darkorange;
	--scaleColor-max-max: red;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	:root {
		--lightDarkColor: rgb(33, 33, 33); /* Dark Gray for dark mode */
	}
}

/* Apply dark or light background */
body {
	background-color: var(--lightDarkColor);
	transition: background-color 0.5s ease;
}


.gauge {
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	outline: 1.5px solid gray;
	box-shadow: inset 0 0 0 1.5px gray;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 30px;
	margin-left: 60px;
}

.gauge-center {
	width: var(--cutout);
	height: var(--cutout);
	background-color: var(--lightDarkColor);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.x-axis-line {
	position: absolute;
	top: 50%;
	left: -25%;
	width: 450px;
	height: 2px;
	background-color: grey;
}

.indicator {
	display: block;
	font-size: 1.0rem;
	color: #666; /* Dimmed */
}

.label {
	height: 20px;
	white-space: nowrap; /* Prevent text from wrapping */
}

.value {
	height: 20px;
	font-weight: bold;
	font-size: 1.5rem;
	padding-right: 5px;
}

.unit {
	height: 20px;
	font-size: 1.0rem;
	display: inline-flex;
}

#zero-indicator {
	position: absolute;
	left: 0%;
	top: 50%;
	padding-right: 10px;
	transform: translate(-100%, -100%);
	text-align: right;
}

#primary-indicator {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -100%);
	text-align: center;
}

#rest-indicator {
	position: absolute;
	left: 50%;
	top: 100%;
	padding-bottom: 10px;
	transform: translate(-50%, -100%);
	text-align: center;
}

#secondary-indicator {
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translate(0%, -100%);
	padding-left: 10px;
	text-align: left;
	color: red;
}




